<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">
<head>
    
    {% include "../layout/meta.html.twig" %}
</head>
<body>
   
    {% include "../block/content.html.twig" %}


    <span class="lang" data-lang="{{ lang }}"></span>
    {% include "../layout/script.html.twig" %}
</body>
</html>
