////
/// @group dimensions
////
$site-max-width: 1400px;
$headerH: 100px;
$headerHAnim: 60px;
$headerH-mobile: 80px;
$headerHAnim-mobile: 50px;
$numberOfSections: 5;

/// marge exterieures au site
$d-margin: 5%;
/// marge exterieures de blocs
$d-margin-block: 20px;
/// marge intérieures de blocs
$d-padding: 20px;
